[Unit]
Description=InMoov WSGI Server
PartOf=inmoov_main.service
After=inmoov_main.service

[Service]
User=www
Group=www
ExecStart=/usr/bin/gunicorn -b 127.0.0.1:5000 InMoov_WebServer:app -w 1 -k eventlet --chdir /inmoov/admin_web_ui/

[Install]
WantedBy=inmoov_main.service
